<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav class="bg-primary">
  <div class="nav-wrapper">
    <a href="https://autism-sih2022.web.app/" class="brand-logo">LiveThat</a>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Blog Categories<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="https://autism-sih2022.web.app/IndiaMap.html">IndiaMap</a></li>
      <li><a href="https://autism-sih2022-quiz.web.app/">Quiz</a></li>
      <li><a href="https://autism-sih2022.web.app/about_us.html">About Us</a></li>
      <li><a href="https://autism-sih2022.web.app/contact_us.html">Contact Us</a></li>
    </ul>
  </div>
</nav>